:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-own {
  display: flex;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.header-menu-button {
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms var(--timing-function);
  position: relative;
}
.header-menu-button {
  color: #404bbf;
}

.header-menu-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  gap: 40px;
}

.mailtel-class {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms var(--timing-function);
}

.mailtel-class {
  color: #434455;
}

.mailtel-class:hover,
.mailtel-class:focus {
  color: #404bbf;
}

/* main */
.section-main {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffffff;
  max-width: 496px;
  display: block;
}

.section-main-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: inline-block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-main-button:hover {
  background-color: #404bbf;
}

.section-main-button:focus {
  background-color: #404bbf;
}

/* advantages */

.section-adv-ul {
  display: flex;
  gap: 24px;
}
.section-adv-list {
  flex-basis: calc((100% - 72px) / 4);
}

.section-adv-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-adv-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.adv-icon {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}
/* team */
.section-team {
  background: #f4f4fd;
}

.section-team-ul {
  display: flex;
  gap: 24px;
}
.section-team-li {
  display: flex;
  flex-basis: calc((100% - 3 * 30px) / 4);
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffffff;
}

.section-team-group {
  padding: 32px 0;
}

.section-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section-team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.social-list {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  gap: 10px;
}

.social-card {
  display: flex;
  flex-basis: calc((100%-3 * 10) / 4);
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  cursor: pointer;
}

.social-icon {
  background-repeat: no-repeat;
  background-size: contain;
  fill: currentColor;
}
/* portfolio */
.section-portfolio {
  background-color: #fff;
}
.section-portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio-card {
  width: calc((100% - 48px) / 3);
}

.section-portfolio-card-group {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.section-portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-portfolio-class {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-image {
  width: 100%;
  height: auto;
}
.portfolio-overlay :hover {
  opacity: 1;
}
.portfolio-overlay {
  position: relative;
}
.overlay-info {
  position: absolute;
  bottom: 0;
  background: #4d5ae5;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.overlay-info-text {
  color: #f4f4fd;
  padding: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-span {
  color: #f4f4fd;
  margin-top: 102px;
}

.footer-social {
  padding-bottom: 0px;
}

.footer-social-title {
  margin-bottom: 20px;
  color: #fff;
}

.footer .social-list {
  margin: auto;
  padding: 0;
  width: 206px;
}
